<div class="card">
    <a href="{{ href }}"><img src="{{ image }}" width="373" height="240"></a>
    <h3>{{ header }}</h3>
    <p>{{ content }}</p>
    {%  include'partials/_link_and_arrow' with { text: text, href: href } %}
</div>
