@font-face {
    font-family: 'LeikoRegular';
    src: url('/fonts/Leiko-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'TinosRegular';
    src: url('/fonts/Tinos-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: LeikoRegular, serif;
    background-color:  #CCCCCC;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.75rem;
    color: #112E66;
}

img {
    max-width: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #112E66;
    text-decoration: none;
}

a svg {
    fill:  currentColor;
}

a:focus,
a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

button {
    background-color: #112E66;
    margin: auto;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: none;
}

button.btn-primary {
    color: #FFF;
}

button.btn-primary:hover {
    background-color: #0E3B93;
    cursor: pointer;
}

/**
Nav Items and Tab Group
 */

.nav-items,
.tab-group {
    display: flex;
    justify-content: space-around;
}

.nav-items a,
.tab-group a {
    padding: 2rem 0;
    display: inline-block;
}

.nav-items a {
    padding: 3rem 0;
}

.nav-items li a:focus,
.nav-items li a:hover,
.nav-items li.active a,
.tab-group li a:focus,
.tab-group li a:hover,
.tab-group li.active a {
    border-bottom: 0.25rem solid #FFB800;
    text-decoration: none;
}

.tab-group.highlight-first li a:focus:first-letter,
.tab-group.highlight-first li a:hover:first-letter,
.tab-group.highlight-first li.active a:first-letter {
    color: #FFB800;
}

.nav-items .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-items .logo-placeholder {
    width: 140px;
    height: 60px;
    background-color: #F1F6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-centre {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-centre .copy {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copy h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: normal;
    margin: 7rem 0 0 0;
}

.copy h2 {
    font-family: TinosRegular, serif;
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: normal;
    margin: 2rem 0 4rem 0;
}

.copy a {
    color: #FFFFFF;
}

.container {
    background-color:  #FFFFFF;
    margin: auto;
    width: 1440px;
}

.menu nav {
    width: 1280px;
    margin: auto;
}

.header {
    background-image: url('/images/header-image.png');
    background-color: #112E66;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
}

.header nav {
    width: 700px;
    margin: auto;
}

.header .tab-group a {
    color: #AAAAAA;
}

.header .tab-group li a:focus,
.header .tab-group li a:hover,
.header .tab-group li.active a {
    color: #FFFFFF;
}

.header .content-centre .copy {
    width: 580px;
    height: 319px;
}

.tabs {
    padding: 3rem;
    font-size: 1rem;
}

.tabs nav {
    width: 540px;
    margin: auto;
}

.tabs .tab-group li a {
    border-bottom: 0.15rem solid #112E66;
}

.tabs .tab-group li.inactive a {
    color: #CCCCCC;
    border-bottom: 0.15rem solid #CCCCCC;
}

.tabs .tab-group li a:hover {
    background: #F1F6FF;
}

.tabs .tab-group li.inactive a:hover {
    background: none;
    cursor: default;
}

.tabs .tab-group a {
    padding: 1rem 2rem 1rem 2rem;
}

.cards {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    width: 1201px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.card {
    width: 373px;
}

.card h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
}

.card p {
    font-family: TinosRegular, serif;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

.card a:hover img {
    transform: scale(1.1);
}

.content-right {
    color: #FFFFFF;
    background-color: #112E66;
    display: flex;
    justify-content: space-between;
    padding: 5rem 8rem;
}

.content-right .copy {
    width: 470px;
    padding-top: 3rem;
}

.content-right .copy h1 {
    font-size: 3.5rem;
    margin: 0;
}

.content-right .copy h2 {
    margin: 2rem 0 3rem 0;
}

.intro {
    padding-top: 4rem;
}

.intro .content-centre .copy {
    width: 700px;
}

.intro .content-centre .copy h1 {
    margin: 0;
}

.intro .content-centre .copy h2 {
    margin: 2.5rem 5rem 2.5rem 5rem;
}

.contact {
    padding-top: 3rem;
}

.contact .content-centre .copy {
    width: 700px;
}

.contact .content-centre .copy h1 {
    margin: 3rem;
}

.contact .content-centre .copy h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.form {
    font-family: RobotoRegular, serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.form form {
    width: 50%;
}

.field-control {
    color: #1A1A1A;
    margin-bottom: 1.5rem;
}

.field-control.error {
    color: #E9003B;
}

.field-control.error p {
    font-size: 0.75rem;
    margin: 0.25rem;
}

.form-label {
    display: inline-block;
    margin-bottom: 0.75rem;
}

.form-control,
.form-select {
    display: block;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
}

.field-control.error .form-control {
    border-color: #E9003B;
    color: #E9003B;
    background-color: #FFE6EC;
}

.btn-control {
    text-align: center;
}

.footer-info {
    margin-top: 9rem;
    padding: 0 8rem;
}

.footer-into-content {
    border-top: 1px solid #112E66;
    border-bottom: 1px solid #112E66;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.footer-info h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.footer-info address,
.footer-info ul {
    font-family: TinosRegular, serif;
    font-size: 0.9rem;
    font-style: normal;
}

.footer-info li {
    margin-bottom: 0.25rem;
}

ul.horizontal {
    display: flex;
    justify-content: space-between;
}

ul.horizontal li {
    margin-left: 2rem;
}

.footer {
    font-family: TinosRegular, serif;
    font-size: 0.75rem;
    padding: 1rem 8rem;
}

.footer ul {
    display: flex;
    justify-content: space-between;
}

.footer .spacer {
    flex-grow: 1;
}

.push-left {
    margin-right: 3rem;
}

.push-right {
    margin-left: 3rem;
}