<section class="contact">
    <div class="content-centre">
        <div class="copy">
            <h1>A message followed by a way to get in touch</h1>
            <h2>+ 44 (0) 1234 567 890</h2>
        </div>
    </div>
</section>
