<section class="footer">
    <ul>
        <li class="push-left">© Horizon</li>
        <li class="push-left">Company No. 199899939</li>
        <li class="push-left">VAT No. 199899939</li>
        <li class="spacer"></li>
        <li class="push-right"><a href="#">Cookies Policy</a></li>
        <li class="push-right"><a href="#">Privacy Policy</a></li>
        <li class="push-right"><a href="#">Terms &amp; Conditions</a></li>
    </ul>
</section>
