<section class="menu">
    <nav>
        <ul class="nav-items">
            <li><a href="#">Navigation 1</a></li>
            <li><a href="#">Navigation 2</a></li>
            <li><a href="#">Navigation 3</a></li>
            <li class="logo">
                <div class="logo-placeholder">
                    <img src="/images/logo.png" width="24" height="24">
                </div>
            </li>
            <li><a href="#">Navigation 4</a></li>
            <li><a href="#">Navigation 5</a></li>
            <li class="active"><a href="#">Navigation 6</a></li>
        </ul>
    </nav>
</section>
