<section class="tabs">
    <nav>
        <ul class="tab-group">
            <li><a href="#">Active  Tab</a></li>
            <li><a href="#">Hovered Tab</a></li>
            <li class="inactive"><a href="#">Inactive Tab</a></li>
        </ul>
    </nav>
</section>
