<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Demo</title>
        <link rel="stylesheet" href="/css/modern-normalize.min.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <div class="container">
            <section class="menu">
                <nav>
                    <ul class="nav-items">
                        <li><a href="#">Navigation 1</a></li>
                        <li><a href="#">Navigation 2</a></li>
                        <li><a href="#">Navigation 3</a></li>
                        <li class="logo">
                            <div class="logo-placeholder">
                                <img src="/images/logo.png" width="24" height="24">
                            </div>
                        </li>
                        <li><a href="#">Navigation 4</a></li>
                        <li><a href="#">Navigation 5</a></li>
                        <li class="active"><a href="#">Navigation 6</a></li>
                    </ul>
                </nav>
            </section>
            <section class="header">
                <div class="content-centre">
                    <div class="copy">
                        <h1>Here we have a two line display intro.</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
                        {%  include'partials/_link_and_arrow' with { text: 'Link & Arrow', href: '#' } %}
                    </div>
                </div>
                <nav>
                    <ul class="tab-group highlight-first">
                        <li class="active"><a href="#">1. Innovation Partner</a></li>
                        <li><a href="#">2. Top Class Team</a></li>
                        <li><a href="#">3. Corporate Solutions</a></li>
                    </ul>
                </nav>
            </section>
            <section class="tabs">
                <nav>
                    <ul class="tab-group">
                        <li><a href="#">Active  Tab</a></li>
                        <li><a href="#">Hovered Tab</a></li>
                        <li class="inactive"><a href="#">Inactive Tab</a></li>
                    </ul>
                </nav>
            </section>
            <section class="cards">
                <div class="card">
                    <a href="#"><img src="/images/card1.png" width="373" height="240"></a>
                    <h3>This is a wide container title stretching two lines.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    {%  include'partials/_link_and_arrow' with { text: 'Link & Arrow', href: '#' } %}
                </div>
                <div class="card">
                    <a href="#"><img src="/images/card2.png" width="373" height="240"></a>
                    <h3>This is a wide container title stretching two lines.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    {%  include'partials/_link_and_arrow' with { text: 'Link & Arrow', href: '#' } %}
                </div>
                <div class="card">
                    <a href="#"><img src="/images/card3.png" width="373" height="240"></a>
                    <h3>This is a wide container title stretching two lines.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    {%  include'partials/_link_and_arrow' with { text: 'Link & Arrow', href: '#' } %}
                </div>
            </section>
        </div>
    </body>
</html>

